<div class="container my-5">
  <h3>このサイトについて</h3>
  <hr>
  <div class="my-5">
    <p>たばたにあんは、タバタトレーニングのサポートをするサイトです。</p>
    <p>メニュー詳細ページからトレーニング開始を押すと、すぐにタバタトレーニングができます。</p>
    <p>トレーニングメニューの投稿もできるので、自分用のメニューをトレーニングすることもできます。</p>
    <p>お気に入りのメニューを登録して、運動を習慣にしていきましょう！</p>
  </div>
  <h3>タバタトレーニングとは</h3>
  <hr>
  <p class="mt-5">タバタトレーニングは、20秒間の強度の高い運動と、10秒間の休息、あるいは負荷の軽い運動を1ラウンドとして、それを8ラウンド繰り返すというもの。</p>
  <p>要するに、合計所要時間が3分50秒のインターバル・トレーニングです。</p>
  <div class="row justify-content-center align-items-center my-5">
    <div class="col-auto">
      <%= image_tag 'work.png', size: '100x150' %>
      <h4 class="text-center">20秒</h4>
    </div>
    <h1 class="col-1 text-center">+</h1>
    <div class="col-auto">
      <%= image_tag 'rest.png', size: '100x150' %>
      <h4 class="text-center">10秒</h4>
    </div>
    <h1 class="col-1 text-center">=</h1>
    <h1 class="col-auto">1ラウンド</h1>
  </div>
  <p>タバタトレーニングは心肺機能の強化や時間あたりの脂肪燃焼効果が高いと言われています。</p>
  <p>4分程度の時間で十分な運動ができるので、現代の時間がない社会人にもとてもおすすめの運動です。</p>
</div>