<div class='float-end'>
  <%= link_to edit_menu_path(menu.id) do %>
    <i class="fas fa-pen fa-lg" style="color: #1e2471;"></i>
  <% end %>
  <%= link_to menu_path(menu.id), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "delete" do %>
    <i class="fas fa-trash fa-lg" style="color: #1e2471;"></i>
  <% end %>
</div>