<div class="container pt-3">
  <div class="row">
    <div class="col-lg-10 offset-lg-1">
      <!-- 検索フォーム -->
      <%= render 'search', url: menus_path %>
    </div>
  </div>

  <!-- メニュー一覧 -->
  <div class="row">
    <div class="col-12">
      <div class="row">
        <% if @menus.present? %>
          <%= render @menus %>
        <% else %>
          <p>メニューがありません</p>
        <% end %>
      </div>
      <%= paginate @menus %>
    </div>
  </div>
</div>