<div class="row">
  <div class="col">
    <table id="js-table-comment" class="table border-top">
      <%= render partial: 'comments/comment', locals: { menu: menu }, collection: comments %>
    </table>
  </div>
</div>