<footer class="footer mt-auto py-3 bg-dark">
  <div class="container">
    <ul class="md-flex">
      <li><%= link_to 'このサイトについて', '#', class: "text-light" %></li>
      <li><%= link_to '利用規約', '#', class: "text-light" %></li>
      <li><%= link_to 'プライバシーポリシー', '#', class: "text-light" %></li>
    </ul>
  </div>
</footer>